.resultContainer {
    box-sizing: border-box;
    /* padding: 20px 10px; */
    margin-top: 20px;
    width: 50vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.headList {
    list-style: none;
    display: flex;
    width: 640px;
    padding: 0;
    justify-content: space-evenly;
}

.list-container {
    height: 600px;
    overflow-y: scroll;
}


#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b1a17;
}

#style-3::-webkit-scrollbar {
    width: 8px;
    background-color: #962d2d;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #962d2d;
    border-radius: 5px;
}

.list-item {
    width: 128px;
    text-align: left;
    color: white;
}