.btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #962d2d;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  margin-left: 30px;
  outline: none;
}

.tile2 {
  width: 100;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 20px;
}