.Nav {
    width: 100vw;

    height: 10vh;
    align-items: center;
    background-color: #962d2d;
    color: white;
    display: flex;
    align-items: center;
}

.list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.list li {
    cursor: pointer;
}